<h2>Welcome to Your To Do Page</h2>
<form action="/tasks" method="get">
  <div class="form-group">
    <label for ="description">Enter Your Task</label>
    <input id="description" name="description" class="form-control" type="text" required="true">
  </div>
  <!-- <div class="form-group">
    <label for="string_two">Your </label>
    <input id="string_two" name="string_two" class="form-control" type="text">
    </div> -->
  <button type="submit" class="btn-success">Send</button>
</form>
<ul>
   <% @tasks.each do |task| %>
    <li><%= task.description %></li>
   <% end %>
</ul>
